.main-up-brl{
    height: 20.938rem;
    width: 100%;
    background: #192A3D;
}
.main-up-brl-pic img{
    width: 49.99rem;
    height: 20.387;
    margin-top: -9.5rem;
    margin-left: 15rem;
}
.eachCard-brl{
    display: flex;
    margin-top: 2.938rem;
}
.image-eachCard-brl{
    height: 17.812rem;
    width: 17.812rem;
}
.main-down-brl-img{
    width: 11.938rem;
    height: 6.738rem;
}
.main-down-left-brl{
    margin-right: 2rem;
}
.main-down-right-brl{
    margin-left: 2rem;
}
.vl {
    border-left: 2px solid rgb(164, 167, 164);
    height: 45rem;
  }