.ref-info{
    display: flex;
    justify-content: space-around;
}
.referral-can-applied{
    width: 80vw;
    margin-left: 7rem;
    border-radius: 20px;
    background: rgb(197, 197, 252);
    padding: 0.5rem;
    margin-top: 0.5rem;
}
.list-of-candidates-applied{
    height: 20rem;
    overflow-y: scroll;
}
.each-can-applied{
    display: flex;
    justify-content: space-between;
    margin-left: 16rem;
    margin-top: 1rem;
    width: 50rem;
    border-radius: 10px;
    background: #eaf0ae;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.btns-can-applied{
    display: flex;
    justify-content: space-around;
    width: 18rem;
    margin-top: 0.7rem;
    
}
.resume-can-applied button,.accept-can-applied button,.reject-can-applied button{
    width: 5rem;
    padding: 0.7rem;
    font-size: 0.9rem;
    font-weight: 550;
    outline: none; 
    background: white;
    border-radius: 10px;
}
.resume-can-applied button{
    border: 2px solid rgb(115, 115, 245);
    color: rgb(115, 115, 245);
}
.resume-can-applied button:hover{
    cursor: pointer;
    background: rgb(115, 115, 245);
    color: white;
}
.accept-can-applied button{
    border: 2px solid rgb(48, 221, 63);
    color: rgb(48, 221, 63);
}
.accept-can-applied button:hover{
    cursor: pointer;
    background: rgb(48, 221, 63);
    color: white;
}
.reject-can-applied button{
    border: 2px solid rgb(226, 102, 80);
    color: rgb(226, 102, 80);
}
.reject-can-applied button:hover{
    cursor: pointer;
    background: rgb(226, 102, 80);
    color: white;
}