.only-ques{
    display: flex;
    justify-content: space-between;
}
.only-ques div p{
    font-size: 2.4rem;
    margin-top: -0.25rem;
    margin-left: 4rem;
}
.next-btn{
    width: 8rem;
    height: 3rem;
    font-size: 1.4rem;
    background: white;
    color: rgb(177, 177, 247);
    border: 2px solid rgb(177, 177, 247);
    border-radius: 10px;
    margin-right: 4rem;
}
.next-btn:hover{
    cursor: pointer;
    background: rgb(177, 177, 247);
    color: white;

}
.eachQues-reg{
    margin-top: 0rem;
    border: 2px solid rgb(173, 167, 167);
    width: 70rem;
    margin-left: 4rem;
    border-radius: 15px;
    padding-bottom: 2rem;
    padding-right: 1rem;
}
.ques-reg{
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: -1rem;
}
.ans-reg{
    font-size: 1.7rem;
    border: 2px solid rgb(216, 156, 44);
    color: rgb(216, 156, 44);
    width: 15rem;
    height: 7rem;
    text-align: center;
    border-radius: 10px;
    padding-top: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.ans-reg:hover{
    cursor: pointer;
    background: rgb(216, 156, 44);
    color: white;
}
.all-ans-reg{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}